.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid white;
}

.selectedPage {
    font-weight: bold;
    border: 1px solid white;
    padding: 2px;
    background-color: whitesmoke;
}